{% extends "menu/layout.html" %}
{% load static %}

{% block head %}
    <title>DinoChess - Play with computer</title>
    <link rel="stylesheet" type="text/css" href="{% static 'lobby/styles.css' %}">
    <!-- <script src="{% static 'lobby/lobby_interaction.js' %}"></script> -->
{% endblock %}

{% block body %}
    <div class="layout-buttons-container">
        <div><a class="layout-button default-button" href="{% url 'create_game' difficulty='Easy' %}">Easy</a></div>
        <div><a class="layout-button default-button" href="{% url 'create_game' difficulty='Medium' %}">Medium</a></div>
        <div><a class="layout-button default-button" href="{% url 'create_game' difficulty='Hard' %}">Hard</a></div>
        <div><a class="layout-button default-button" href="{% url 'create_game' difficulty='Impossible' %}">Impossible</a></div>
    </div>
{% endblock %}