# Ignore the Stockfish directory in the root
stockfish/

# Ignore the SQLite database file
chess_django/db.sqlite3

# Ignore __pycache__ directories
**/__pycache__/
*.pyc

# Ignore staticfiles
chess_django/staticfiles/

# Ignore .env
*.env

# Ignore .pem
*.pem

# Ignore my virtual environment dictonary
myenv/

# Ignore certificate
nginx/ssl