{% extends "table/layout.html" %}

{% block body %}
<div class="container">
    <div class="description">
        <div>Table: {{ table_id }}</div>
        <div id="moves"></div>
    </div>
    <div class="board" >
        <div class="player-time">
            <span class="player">Player 2</span>
            <span class="time">Time:</span>
        </div>
        <table>
            {% for row in "76543210" %}
            <tr>
                {% for column in "76543210" %}
                <td id="square{{ row }}{{ column }}"></td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <div class="player-time">
            <span class="player">Player 1</span>
            <span class="time">Time:</span>
        </div>
    </div>
    <div class="modal-promotion" id="modal_promotion">
        <div class="modal">
            <p>
                <table id="modal_table">
                    <tr>
                        <td id="modal_queen" class="modal_td"></td>
                        <td id="modal_rook" class="modal_td"></td>
                        <td id="modal_knight" class="modal_td"></td>
                        <td id="modal_bishop" class="modal_td"></td>
                    </tr>
                </table>
            </p>
        </div>
    </div>
    <div class="modal-winner" id="modal_winner">
        <div class="modal">
            <p>
                <h1 id="winner"></h1>
            </p>
        </div>
    </div>
</div>

<!-- BUTTONS REMOVE LATER-->
<div class="container2">
    <button type="button" id="button_rotate">Rotate</button>
    <button type="button" id="button_dino">Change to dino!</button>
</div>

{{ table_id|json_script:"table_id" }}
{% endblock %}