{% extends "menu/layout.html" %}
{% load static %}

{% block head %}
<title>DinoChess - Table {{ table_id }}</title>
<link rel="stylesheet" type="text/css" href="{% static 'table/styles.css' %}">
<script src="{% static 'table/table_interaction.js' %}"></script>
{% endblock %}

{% block body %}
    <div id="table-container">
        <div id="grid">
            <div id="table_number">Table: {{ table_id }}</div>
            <div id="legend">
                <span id="legend_button"><i class='bx bx-info-circle'></i></span>
            </div>
            <div id="prev_moves_button">
                <span id="previous_button"><i class='bx bxs-left-arrow'></i><span>Previous</span></span>
                <span id="next_button"><i class='bx bxs-right-arrow'></i><span>Next</span></span>
            </div>
            <div id="prev_moves"></div>
            <div id="resign_draw_button">
                <span id="draw_button"><i class='bx bxs-hand bx-rotate-90' ></i><span>Draw</span></span>
                <span id="resign_button"><i class='bx bx-meteor'></i><span>Resign</span></span>
            </div>
            <div id="black_player" class="player">
                <div id="black_avatar"></div>
                <div id="black_name"></div>
            </div>
            <div id="black_player_sit_button" class="hidden">
                <div class="button_black">Sit</div>
            </div>
            <div id="black_player_stand_button" class="hidden">
                <div class="button_black">Stand up</div>
            </div>
            <div id="black_player_ready_button" class="hidden">
                <div class="button_black">Ready</div>
            </div>
            <div id="black_player_unready_button" class="hidden">
                <div class="button_black">Unready</div>
            </div>
            <div id="black_captured"></div>
            <div id="black_time" class="time"></div>
            <table id="chess-board">
                {% for row in "76543210" %}
                    <tr>
                        {% for column in "76543210" %}
                        <td id="square{{ row }}{{ column }}"></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            <div class="movingPiece"></div>
            <div id="white_player" class="player">
                <div id="white_avatar"></div>
                <div id="white_name"></div>
            </div>
            <div id="white_player_sit_button" class="hidden">
                <div class="button_white">Sit</div>
            </div>
            <div id="white_player_stand_button" class="hidden">
                <div class="button_white">Stand up</div>
            </div>
            <div id="white_player_ready_button" class="hidden">
                <div class="button_white">Ready</div>
            </div>
            <div id="white_player_unready_button" class="hidden">
                <div class="button_white">Unready</div>
            </div>
            <div id="white_captured"></div>
            <div id="white_time" class="time"></div>
            <div id="modal_promotion">
                <table id="modal_table">
                    <tr>
                        <td id="modal_queen"></td>
                        <td id="modal_rook"></td>
                        <td id="modal_knight"></td>
                        <td id="modal_bishop"></td>
                    </tr>
                </table>
            </div>
            <div id="modal_winner">
                <span id="winner"></span>
            </div>
            <div id="modal_not_logged">
                <span id="not_logged">Log In to join the game.</span>
                <a id="login_link" href="{% url 'login' %}">Log In here.</a>
            </div>
        </div>
    </div>
    <div id="modal_background_start"></div>
    <div id="modal_background_promotion"></div>
    <div id="modal_background_winner"></div>
    <div id="modal_background_legend">
        <div id="legend_image"></div>
    </div>
    
    {{ table_id|json_script:"table_id" }}
    {% endblock %}