:root {
    --primary-bg-color: #4B2E1A;
    --text-color: white;
    --hover-bg-color: white;
    --hover-text-color: #12171e;
    --sidebar-width: 80px;
    --sidebar-expanded-width: 180px;
    --transition-speed: 0.5s;

    --width-big-screen: calc(100% - var(--sidebar-expanded-width));
    --width-medium-screen: calc(100% - var(--sidebar-width));
    --width-small-screen: 100%;

    --dark-square: rgb(127, 116, 92);
    --light-square: rgb(231, 222, 202);

    --last-move-dark-square: rgb(165, 107, 40);
    --last-move-light-square: rgb(255, 222, 159);

    --logo: var(--dino-logo);

    --white-player-button: #9db286;
    --black-player-button: #d68f52;
    --white-player-button-hover: #c2d5ae;
    --black-player-button-hover: #f4b986;

    --ball-position: 0%;
    --theme-toggle-background: rgb(44, 23, 19);
    --sidebar-dino-theme-url: var(--sidebar-dino_black-theme-url);
    --sidebar-classic-theme-url: var(--sidebar-classic_white-theme-url);

    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root.classic-mode {
    --primary-bg-color: #12171e;
    --classic-background-color: rgb(54, 54, 54);
    
    --dark-square: rgb(105, 140, 180);
    --light-square: rgb(194, 213, 225);

    --last-move-dark-square: rgb(40, 133, 148);
    --last-move-light-square: rgb(128, 223, 223);

    --logo: var(--classic-logo);

    --white-player-button: white;
    --black-player-button: rgb(44, 44, 44);
    --white-player-button-hover: gray;
    --black-player-button-hover: gray;

    --modal-url: None;

    --ball-position: 100%;
    --theme-toggle-background: rgb(54, 54, 54);
    --sidebar-dino-theme-url: var(--sidebar-dino_white-theme-url);
    --sidebar-classic-theme-url: var(--sidebar-classic_black-theme-url);

    #main-content {
        background: var(--classic-background-color);
    }

    #topbar,
    #sidebar {
        background: var(--primary-bg-color);
    }
}

* {
    font-family: var(--font-family);
    font-weight: 400;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background: var(--background-url);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    color: #87CEFA;
}

#topbar,
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--sidebar-background-url);
    background-size: 250px 1500px;
    background-position: top;
    background-color: var(--primary-bg-color);
    padding: .4rem .8rem;
    z-index: 30;
}

#topbar {
    display: flex;
    height: 40px;
    width: 100vw;
    visibility: hidden;
    justify-content: flex-end;
}

#sidebar {
    height: 100vh;
    width: var(--sidebar-expanded-width);
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
}

div::-webkit-scrollbar {
    width: 1px;
}

#btn {
    position: absolute;
    color: var(--text-color);
    top: .4rem;
    left: 54.3%;
    /* font-size: 1.2rem; */
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
    visibility: hidden;
}

#sidebar.active #btn {
    left: 90%;
}

.bx {
    scale: 130%;
}

#topbar-logo,
#sidebar-logo {
    background-image: var(--logo);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#sidebar-logo {
    display: flex;
    height: 40px;
    opacity: 0;
    max-width: 155px;
    pointer-events: none;
}

#topbar-logo {
    height: 30px;
    width: 110px;
    justify-content: flex-end;
    margin-right: 10px;
}

#sidebar.active #sidebar-logo {
    opacity: 1;
    pointer-events: auto;
}

#sidebar-user {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

#sidebar-user p {
    color: var(--text-color);
    margin-left: 1rem;
    font-weight: 600;
    opacity: 0;
}

#sidebar.active #sidebar-user p {
    opacity: 1;
}

#sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
}

#sidebar ul li a {
    color: var(--text-color);
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

#sidebar ul li a:hover {
    background-color: var(--hover-bg-color);
    color: var(--hover-text-color);
}

#sidebar ul li a.inactive {
    color: gray;
    pointer-events: none;
    user-select: none;
}

#sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.nav-item {
    white-space: nowrap;
    pointer-events: none;
}

#sidebar .nav-item {
    opacity: 0;
}

#sidebar.active .nav-item {
    opacity: 1
}

.tooltip {
    position: absolute;
    background-color: var(--hover-bg-color);
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    visibility: hidden;
    white-space: nowrap;
}

.sidebar-button:hover ~ .tooltip {
    visibility: visible;
}

#sidebar.active .tooltip {
    display: none;
}

#toggle {
    /* position: absolute; */
    bottom: 5%;
    left: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-height:420px) {
    #toggle {
        position: absolute;
    }
}

#theme {
    display: flex;
    position: relative;
    background-color: var(--theme-toggle-background);
    width: 50px;
    border-radius: 50px;
}

#sidebar.active #theme {
    width: 100px;
    border-radius: 50px;
}

.ball {
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    border: 3px solid var(--theme-toggle-background);
    transform: translateX(var(--ball-position));
    transition: all var(--transition-speed) ease;
}

#sidebar.active .ball {
    width: 50px;
    height: 50px;
}

.theme-dino-pic,
.theme-classic-pic {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.theme-dino-pic {
    width: 50%;
    background: var(--sidebar-dino-theme-url);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.theme-classic-pic {
    width: 50%;
    left: 50%;
    background: var(--sidebar-classic-theme-url);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#main-content {
    position: relative;
    left: var(--sidebar-expanded-width);
    width: var(--width-big-screen);
    min-height: 100vh;
    top: 0;
    padding: 0.5rem;
}

#logo_menu {
    width: 90vw;
    height: 25vw;
    max-width: 600px; 
    max-height: 160px;
    background-image: var(--logo);
    background-size: contain;
    background-repeat: no-repeat;
}

.layout-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.layout-buttons {
    display: flex;
    justify-content: center;
    color: white;
    background-color: var(--primary-bg-color);
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
    line-height: 50px;
    font-size: 18px;
    width: 70vw;
    max-width: 400px;
    min-width: 120px;
    margin: 0.8rem auto;
}

.layout-buttons:hover {
    background-color: white;
    color: black;
}

@media (max-width: 1300px) {
    #sidebar {
        width: var(--sidebar-width);
        transition: all var(--transition-speed) ease;
        background-size: 80px 500px;
    }
    
    #sidebar.active {
        width: var(--sidebar-expanded-width);
        background-size: 250px 1500px;
    }

    #btn {
        visibility: visible;
    }

    #main-content {
        left: var(--sidebar-width);
        width: var(--width-medium-screen);
        padding: 0.3rem;
    }
}

@media (max-width: 576px) {
    #topbar {
        visibility: visible;
    }
    
    #sidebar {
        visibility: hidden;
        transition: 0ms;
    }
    
    #sidebar.active {
        visibility: visible;
        transition: all var(--transition-speed) ease;
    }
    
    #sidebar.active ~ #topbar-logo {
        visibility: hidden;
    }

    #btn {
        line-height: 30px;
    }
    
    #main-content {
        top: 40px;
        left: 0;
        width: var(--width-small-screen);
        padding: 0.1rem;
        min-height: calc(100vh - 40px);
    }

    #sidebar.active .ball {
        transition: all var(--transition-speed) ease;
    }

    .ball {
        transition: none;
    }
}