:root {
    --primary-bg-color: #12171e;
    --text-color: white;
    --hover-bg-color: white;
    --hover-text-color: #12171e;
    --sidebar-width: 80px;
    --sidebar-expanded-width: 250px;
    --transition-speed: 0.5s;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#topbar,
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primary-bg-color);
    padding: .4rem .8rem;
    z-index: 30;
}

#topbar {
    height: 60px;
    width: 100vw;
    visibility: hidden;
}

#sidebar {
    height: 100vh;
    width: var(--sidebar-expanded-width);
}


#btn {
    position: absolute;
    color: var(--text-color);
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
    visibility: hidden;
}

#sidebar.active #btn {
    left: 90%;
}

#topbar-logo,
#sidebar-logo {
    color: var(--text-color);
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
}

#sidebar-logo {
    opacity: 0;
}

#topbar-logo {
    justify-content: flex-end;
    opacity: 1;
}

#sidebar.active #sidebar-logo {
    opacity: 1;
}

#sidebar-logo i {
    font-size: 2rem;
    margin-right: 5px;
}

#sidebar-user {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

#sidebar-user p {
    color: var(--text-color);
    margin-left: 1rem;
    font-weight: 600;
    opacity: 0;
}

#sidebar.active #sidebar-user p {
    opacity: 1;
}

#sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
}

#sidebar ul li a {
    color: var(--text-color);
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

#sidebar ul li a:hover {
    background-color: var(--hover-bg-color);
    color: var(--hover-text-color);
}

#sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.nav-item {
    white-space: nowrap;
}

#sidebar .nav-item {
    opacity: 0;
}

#sidebar.active .nav-item {
    opacity: 1
}

.tooltip {
    position: absolute;
    background-color: var(--hover-bg-color);
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    visibility: hidden;
    white-space: nowrap;
}

.sidebar-button:hover ~ .tooltip {
    visibility: visible;
}

#sidebar.active .tooltip {
    display: none;
}

#main-content {
    position: relative;
    background-color: #eee;
    left: var(--sidebar-expanded-width);
    width: calc(100% - var(--sidebar-expanded-width));
    min-height: 100vh;
    top: 0;
    padding: 1rem;
}

@media (max-width: 992px) {
    #sidebar {
        width: var(--sidebar-width);
        transition: all var(--transition-speed) ease;
    }

    #sidebar.active {
        width: var(--sidebar-expanded-width);
    }

    #btn {
        visibility: visible;
    }

    #main-content {
        left: var(--sidebar-width);
        width: calc(100% - var(--sidebar-width));
    }
}

@media (max-width: 576px) {
    #topbar {
        visibility: visible;
    }
    
    #sidebar {
        visibility: hidden;
        transition: 0ms;
    }
    
    #sidebar.active {
        visibility: visible;
        transition: all var(--transition-speed) ease;
    }
    
    #sidebar.active ~ #topbar-logo {
        visibility: hidden;
    }
    
    #main-content {
        top: 60px;
        left: 0;
        width: 100vw;
    }
}