html, body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.free-games-table {
    border-collapse: collapse;
    margin: 12px 0;
}

.free-games-table td {
    padding: 12px 10px;
    /* border: 1px solid black; */
    min-width: 70px;
    text-align: center;
}

.free-games-table tr {
    border: 1px solid black;
}

.player-ready {
    font-weight: bold;
}