:root {
    --square-size: min(5.5vh, 4.5vw);
    --button-radius: 0.8rem;
    --ready-player: rgb(255, 255, 255);
    --unready-player: rgb(170, 170, 170);
    --highlight-color: rgb(0, 100, 255);
    --check-color: rgb(255, 0, 0);
    --marked-color: rgb(0, 160, 0);
    --dark-square-move: rgb(96, 173, 76);
    --light-square-move: rgb(141, 196, 127);
    --dark-square-attack: rgb(218, 64, 64);
    --light-square-attack: rgb(223, 89, 89);
    --border-radius: 10%;

    --white-pawn: var(--dino-white-pawn);
    --white-rook: var(--dino-white-rook);
    --white-bishop: var(--dino-white-bishop);
    --white-knight: var(--dino-white-knight);
    --white-queen: var(--dino-white-queen);
    --white-king: var(--dino-white-king);

    --black-pawn: var(--dino-black-pawn);
    --black-rook: var(--dino-black-rook);
    --black-bishop: var(--dino-black-bishop);
    --black-knight: var(--dino-black-knight);
    --black-queen: var(--dino-black-queen);
    --black-king: var(--dino-black-king);
}

:root.classic-mode {
    --white-pawn: var(--classic-white-pawn);
    --white-rook: var(--classic-white-rook);
    --white-bishop: var(--classic-white-bishop);
    --white-knight: var(--classic-white-knight);
    --white-queen: var(--classic-white-queen);
    --white-king: var(--classic-white-king);

    --black-pawn: var(--classic-black-pawn);
    --black-rook: var(--classic-black-rook);
    --black-bishop: var(--classic-black-bishop);
    --black-knight: var(--classic-black-knight);
    --black-queen: var(--classic-black-queen);
    --black-king: var(--classic-black-king);
}

@media (max-width: 1300px) {
    :root {
        --square-size: min(5.5vh, 5.2vw);
    }
}

@media (max-width: 576px) {
    :root {
        --square-size: min(5.1vh, 5.8vw);
    }
}

#table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96vh;
}

.grid {
    position: relative;
    display: grid;
    grid-template-rows: repeat(18, minmax(0, var(--square-size)));
    grid-template-columns: repeat(21, minmax(0, var(--square-size)));
}

#black_player,
#black_captured,
#black_time,
#white_player,
#white_captured,
#white_time {
    display: flex;
    align-items: center;
    color: var(--ready-player);
    z-index: 25;
    font-size: min(var(--square-size), 20px);
}

#black_player.unready,
#black_time.unready,
#white_player.unready,
#white_time.unready {
    color: var(--unready-player);
}

#black_player,
#black_captured,
#black_time {
    grid-row: 1;
}

#white_player,
#white_captured,
#white_time {
    grid-row: 18;
}

#black_player,
#white_player {
    grid-column: 1 / 7;
}

#black_captured,
#white_captured {
    grid-column: 7 / 11;
}

#black_time,
#white_time {
    justify-content: flex-end;
    grid-column: 14 / 17;
    
}

.button_black,
.button_white {
    display: flex;
    justify-content: center;
    align-items: center;
    height: min(calc(2 * var(--square-size)), 50px);
    width: 75vw;
    max-width: 200px;
    min-width: min(calc(8 * var(--square-size)), 100px);
    text-decoration: none;
    border-radius: var(--button-radius);
    font-size: min(var(--square-size), 20px);
    margin-bottom: var(--button-radius);
    cursor: pointer;
    white-space: nowrap;
}

.button_black {
    color: white;
    background-color: var(--black-player-button);

}

.button_white {
    color: var(--primary-bg-color);
    background-color: var(--white-player-button);
}

.button_black:hover {
    background-color: var(--black-player-button-hover);
    color: black;
}

.button_white:hover {
    background-color: var(--white-player-button-hover);
    color: black;
}

#black_player_sit_button,
#black_player_stand_button,
#black_player_ready_button,
#black_player_unready_button,
#white_player_sit_button,
#white_player_stand_button,
#white_player_ready_button,
#white_player_unready_button {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

#black_player_sit_button,
#black_player_stand_button {
    grid-row: 8 / 9;
    grid-column: 7 / 11;
}

#black_player_ready_button,
#black_player_unready_button {
    grid-row: 6 / 8;
    grid-column: 7 / 11;
}

#white_player_sit_button,
#white_player_stand_button {
    grid-row: 11 / 12;
    grid-column: 7 / 11;
}

#white_player_ready_button,
#white_player_unready_button {
    grid-row: 12 / 14;
    grid-column: 7 / 11;
}

@media (max-width: 1300px), (max-height: 650px) {
    #black_player_ready_button,
    #black_player_unready_button {
        grid-row: 6 / 7;
    }

    #white_player_ready_button,
    #white_player_unready_button {
        grid-row: 13 / 14;
    }
}

@media (max-width: 576px), (max-height: 480px) {
    #black_player_ready_button,
    #black_player_unready_button {
        grid-row: 5 / 6;
    }

    #white_player_ready_button,
    #white_player_unready_button {
        grid-row: 14 / 15;
    }
}

#table_number {
    grid-column: 17 / 22;
    display: flex;
    justify-content: center;
    color: white;
    z-index: 15;
    font-size: min(var(--square-size), 22px);
}

#prev_moves_button,
#resign_draw_button {
    grid-column: 17 / 22;
    display: flex;
    z-index: 15;
}

#previous_button,
#next_button,
#resign_button,
#draw_button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: min(var(--square-size), 18px);
    background-color: gray;
    border-radius: 0.8rem;
    margin-left: 3px;
    margin-right: 3px;
    user-select: none;
}

#previous_button i,
#next_button i,
#resign_button i,
#draw_button i {
    flex: 1 1 40%;
    display: flex;
    justify-content: center;
}

#previous_button span,
#next_button span,
#resign_button span,
#draw_button span {
    flex: 1 1 60%;
}

#resign_button,
#draw_button {
    cursor: pointer;
    background-color: var(--primary-bg-color);
}

#previous_button.active,
#next_button.active {
    cursor: pointer;
    background-color: var(--primary-bg-color);
}

#previous_button.active:hover,
#next_button.active:hover,
#resign_button:hover,
#draw_button:hover {
    background-color: white;
    color: black;
}

#previous_button,
#next_button,
#resign_button,
#draw_button {
    flex: 1 1 50%;
}

#prev_moves {
    grid-column: 17 / 22;
    color: white;
    z-index: 15;
    font-size: min(var(--square-size), 22px);
    overflow: auto;
}

.moves_container {
    display: flex;
}

.moves_container span {
    /* padding-top: 5px; */
    text-align: center;
}

.round {
    flex: 1 1 20%;
}

.movesListWhite,
.movesListBlack {
    flex: 1 1 40%;
    display: flex;
    cursor: pointer;
}

.movesListWhite.currentBoard,
.movesListBlack.currentBoard {
    text-shadow: 
    -1px -1px 0 var(--highlight-color),  
     1px -1px 0 var(--highlight-color),
    -1px  1px 0 var(--highlight-color),
     1px  1px 0 var(--highlight-color);
}

.movesListWhite .movesListPiece,
.movesListBlack .movesListPiece {
    flex: 1 1 40%;
    width: 110%;
    height: 110%;
    max-width: 50px;
    max-height: 50px;
    background-size: contain;
    background-position: right;
}
.movesListWhite .movesListMove,
.movesListBlack .movesListMove {
    flex: 1 1 60%;
    text-align: left;
}

#table_number {
    align-items: center;
}

#table_number {
    grid-row: 2;
}

#prev_moves_button {
    grid-row: 3;
}

#resign_draw_button {
    grid-row: 17;
}

#prev_moves {
    grid-row: 4 / 17;
}

#chess-board {
    grid-row: 2 / 18;
    grid-column: 1 / 17;
    z-index: 10;
    touch-action: none;
}

table {
    height: 85%;
    width: 85%;
}

table,
td {
    border-collapse: collapse;
    padding: 0px;
}

td {
    width: calc(2 * var(--square-size));
    height: calc(2 * var(--square-size));
    max-width: calc(2 * var(--square-size));
    max-height: calc(2 * var(--square-size));
    min-width: calc(2 * var(--square-size));
    min-height: calc(2 * var(--square-size));
}

.white.pawn {
    background-image: var(--white-pawn);
    background-size: cover;
}

.white.rook {
    background-image: var(--white-rook);
    background-size: cover;
}

.white.bishop {
    background-image: var(--white-bishop);
    background-size: cover;
}

.white.knight {
    background-image: var(--white-knight);
    background-size: cover;
}

.white.queen {
    background-image: var(--white-queen);
    background-size: cover;
}

.white.king {
    background-image: var(--white-king);
    background-size: cover;
}

.black.pawn {
    background-image: var(--black-pawn);
    background-size: cover;
}

.black.rook {
    background-image: var(--black-rook);
    background-size: cover;
}

.black.bishop {
    background-image: var(--black-bishop);
    background-size: cover;
}

.black.knight {
    background-image: var(--black-knight);
    background-size: cover;
}

.black.queen {
    background-image: var(--black-queen);
    background-size: cover;
}

.black.king {
    background-image: var(--black-king);
    background-size: cover;
}

@media (min-aspect-ratio: 16/9) and (max-height: 600px) {
    .grid {
        grid-template-columns: repeat(23, minmax(0, var(--square-size)));
    }

    #table_number {
        grid-column: 17 / 24;
    }

    #prev_moves {
        grid-column: 17 / 24;
    }

    #prev_moves_button,
    #resign_draw_button {
        grid-column: 17 / 24;
    }

}

@media (min-aspect-ratio: 22/9) and (max-height: 600px) {
    .grid {
        grid-template-columns: repeat(25, minmax(0, var(--square-size)));
    }

    #table_number {
        grid-column: 17 / 26;
    }

    #prev_moves {
        grid-column: 17 / 26;
    }

    #prev_moves_button,
    #resign_draw_button {
        grid-column: 17 / 26;
    }
}

@media (max-aspect-ratio: 12/9) {
    #table-container {
        align-items: flex-start;
        height: fit-content;
    }
    
    .grid {
        grid-template-rows: repeat(30, minmax(0, var(--square-size)));
        grid-template-columns: repeat(16, minmax(0, var(--square-size)));
    }
    
    #table_number {
        grid-column: 1 / 17;
        grid-row: 19;
    }
    
    #prev_moves {
        grid-column: 5 / 12;
        grid-row: 21 / 30;
    }
    
    #prev_moves_button,
    #resign_draw_button {
        grid-column: 5 / 12;
    }

    #prev_moves_button {
        grid-row: 20 / 21;
    }

    #resign_draw_button {
        grid-row: 30 / 31;
    }
}

@media (max-aspect-ratio: 6/9) {
    #table_number {
        grid-column: 1 / 17;
    }
    
    #prev_moves {
        grid-column: 4 / 13;
    }
    
    #prev_moves_button,
    #resign_draw_button {
        grid-column: 4 / 13;
    }
}

@media (max-aspect-ratio: 3/9) {
    #table_number {
        grid-column: 1 / 17;
    }
    
    #prev_moves {
        grid-column: 3 / 14;
    }
    
    #prev_moves_button,
    #resign_draw_button {
        grid-column: 3 / 14;
    }
}

.draggableElement {
    cursor: grab;
}

#chess-board.dragging td {
    cursor: grabbing;
}

td.checking:hover {
    box-shadow: 
        inset 0 0 0 0.1em var(--highlight-color),
        inset 0 0 0 0.2em var(--check-color);
}

td:hover {
    box-shadow: inset 0 0 0 0.2em var(--highlight-color);
}

td.checking {
    box-shadow: inset 0 0 0 0.2em var(--check-color);
}

.marked {
    background-image: none !important;
    background-color: var(--marked-color);
}

.dark {
    background-color: var(--dark-square);
}

.light {
    background-color: var(--light-square);
}

.last_move_from.dark,
.last_move_to.dark {
    background-color: var(--last-move-dark-square);
}

.last_move_from.light,
.last_move_to.light {
    background-color: var(--last-move-light-square);
}

.darkGreen {
    background-color: var(--dark-square-move);
}

.lightGreen {
    background-color: var(--light-square-move);

}
.darkRed {
    background-color: var(--dark-square-attack);
}

.lightRed {
    background-color: var(--light-square-attack);
}

.square {
    position: relative;
}

.bottom_right_symbol,
.top_left_symbol {
    position: absolute;
    user-select: none;
    font-size: min(calc(var(--square-size) / 1.7), 22px);
    font-family: system-ui, sans-serif;
}

.bottom_right_symbol {
    right: 5%;
    bottom: 5%;
}

.top_left_symbol {
    left: 5%;
    top: 5%;
}

.dark .bottom_right_symbol,
.dark .top_left_symbol {
    color: var(--light-square);
}

.light .bottom_right_symbol,
.light .top_left_symbol {
    color: var(--dark-square);
}

.darkGreen .bottom_right_symbol,
.darkGreen .top_left_symbol {
    color: var(--light-square-move);
}

.lightGreen .bottom_right_symbol,
.lightGreen .top_left_symbol {
    color: var(--dark-square-move);
}

.darkRed .bottom_right_symbol,
.darkRed .top_left_symbol {
    color: var(--light-square-attack);
}

.lightRed .bottom_right_symbol,
.lightRed .top_left_symbol {
    color: var(--dark-square-attack);
}

.marked .bottom_right_symbol,
.marked .top_left_symbol {
    color: var(--light-square-move);
}

#square00 {
    border-bottom-right-radius: var(--border-radius);
}
#square07 {
    border-bottom-left-radius: var(--border-radius);
}
#square70 {
    border-top-right-radius: var(--border-radius);
}
#square77 {
    border-top-left-radius: var(--border-radius);
}


.movingPiece {
    width: calc((2 * var(--square-size) * 1.15));
    height: calc((2 * var(--square-size) * 1.15));
    max-width: calc((2 * var(--square-size) * 1.15));
    max-height: calc((2 * var(--square-size) * 1.15));
    min-width: calc((2 * var(--square-size) * 1.15));
    min-height: calc((2 * var(--square-size) * 1.15));
    position: fixed;
    pointer-events: none;
    z-index: 100;
    display: none;
}

.showPiece {
    display: flex;
}

#modal_background_start {
    background: var(--modal-url);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#modal_background_start,
#modal_background_promotion,
#modal_background_winner {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 15;
}

#modal_promotion,
#modal_winner {
    display: none;
    background-color: white;
    border-radius: 8px;
    grid-row: 9 / 11;
    grid-column: 5 / 13;
    z-index: 20;
}

#modal_promotion.show,
#modal_winner.show,
#modal_background_start.show,
#modal_background_promotion.show,
#modal_background_winner.show {
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal_promotion.show,
#modal_winner.show {
    scale: 1.3;
}

.modal_td_dark,
.modal_td_light {
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}

.modal_td_dark {
    background-color: var(--dark-square);
}

.modal_td_light {
    background-color: var(--light-square);
}

#winner {
    font-size: min(var(--square-size), 35px);
}

/* .rotate {
    transform: rotate(180deg);
}

.rotate .pieceImage {
    transform: rotate(-180deg);
}

.rotate .player-time {
    transform: rotate(-180deg);
} */

/* .container2 {
    display: grid;
} */

.hidden {
    visibility: hidden;
}

.lock-screen {
    touch-action: none;
}