html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: red;
}

table, td {
    border: 2px solid black;
    border-collapse: collapse;
}

td {
    width: 80px;
    height: 80px;
    position: relative;
}

.pieceImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
}

.dark {
    background-color: rgba(0, 60, 128, 0.658);
}

.light {
    background-color: rgba(0, 81, 128, 0.24);
}

.darkGreen {
    background-color: rgba(28, 138, 0, 0.74);
}

.lightGreen {
    background-color: rgba(28, 138, 0, 0.411);
}
