{% extends "menu/layout.html" %}
{% load static %}

{% block head %}
    <title>DinoChess - Change password</title>
    <link rel="stylesheet" type="text/css" href="{% static 'menu/styles_login_register.css' %}">
{% endblock %}

{% block body %}
    <div id="changepassword-container">
        <div id="logo_menu"></div>
        <form action="{% url 'changepassword' %}" method="post">
            {% csrf_token %}
            <div>
                <input class="changepassword_form" autofocus type="password" name="currect_password" placeholder="Current Password">
            </div>
            <div>
                <input class="changepassword_form" type="password" name="new_password" placeholder="New Password">
            </div>
            <div>
                <input class="changepassword_form" type="password" name="new_confirmation" placeholder="Confirm Password">
            </div>
            {% if message %}
                <div id="changepassword_message">{{ message }}</div>
            {% endif %}
            <input id="changepassword_button" type="submit" value="Submit">
        </form>
    </div>

{% endblock %}