{% extends "menu/layout.html" %}
{% load static %}

{% block head %}
    <title>DinoChess - Menu</title>
    <link rel="stylesheet" type="text/css" href="{% static 'menu/styles_menu.css' %}">
{% endblock %}

{% block body %}
    <div id="index-container">
        <div><a href="{% url 'lobby_index' %}">Play the game</a></div>
        {% if not user.is_authenticated %}
            <div><a href="{% url 'login' %}">Log In</a></div>
            <div><a href="{% url 'register' %}">Register</a></div>
        {% endif %}
        {% if user.is_authenticated %}
            <div><a href="{% url 'logout' %}">Log out</a></div>
        {% endif %}
    </div>
{% endblock %}