{% extends "menu/layout.html" %}

{% block body %}
    <div><a href="{% url 'lobby_index' %}">New game</a></div>
    <div><a href="{% url 'register' %}">Register here.</a></div>
    <div><a href="{% url 'login' %}">Log In here.</a></div>
    <div><a href="{% url 'logout' %}">Log out.</a></div>
    <div class="test">
        hjfshjfghjfg
    </div>
    <div class="test">
        hjfshjfghjfg
    </div>
    <div class="test">
        hjfshjfghjfg
    </div>
    <div class="test">
        hjfshjfghjfg
    </div>
    <div class="test">
        hjfshjfghjfg
    </div>
    <div class="test">
        hjfshjfghjfg
    </div>
    <div class="test">
        hjfshjfghjfg
    </div>
    <div class="test">
        hjfshjfghjfg
    </div>
    <div class="test">
        hjfshjfghjfg
    </div>
    <div class="test">
        hjfshjfghjfg
    </div>
    <div class="test">
        hjfshjfghjfg
    </div>

{% endblock %}