{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width">
        
        {% block head %}
        {% endblock %}

        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'menu/favicon/favicon.ico' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'menu/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'menu/favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'menu/favicon/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'menu/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <link rel="stylesheet" type="text/css" href="{% static 'menu/styles_layout.css' %}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

        <style>
            :root {
                --background-url: url("{% static 'images/background.png' %}");
                --modal-url: url("{% static 'images/modal.png' %}");
            }
        </style>

    </head>
    <body>
        <div id="topbar">
            <div id="topbar-logo">
                <i class="bx bxs-chess"></i>
                <span>DinoChess</span>
            </div>
        </div>
        <div id="sidebar">
            <div id="sidebar-top">
                <a id="sidebar-logo" href="{% url 'menu_index' %}">
                    <i class="bx bxs-chess"></i>
                    <span>DinoChess</span>
                </a>
                <i class="bx bx-menu" id="btn"></i>
            </div>
            <ul>
                <li>
                    <a class="sidebar-button" href="{% url 'lobby_index' %}">
                        <i class="bx bxs-chess"></i>
                        <span class="nav-item">Play</span>
                    </a>
                    <span class="tooltip">Play</span>
                </li>
            </ul>
            {% if user.is_authenticated %}
            <div id="sidebar-user">
                <div>
                    <p>{{ user.username }}</p>
                </div>
            </div>
            <ul>
                <li>
                    <a class="sidebar-button" href="{% url 'logout' %}">
                        <i class="bx bx-log-out" ></i>
                        <span class="nav-item">Log Out</span>
                    </a>
                    <span class="tooltip">Log Out</span>
                </li>
            </ul>
            {% endif %}
            {% if not user.is_authenticated %}
            <ul>
                <li>
                    <a class="sidebar-button" href="{% url 'login' %}">
                        <i class="bx bx-log-in" ></i>
                        <span class="nav-item">Log In</span>
                    </a>
                    <span class="tooltip">Log In</span>
                </li>
                <li>
                    <a class="sidebar-button" href="{% url 'register' %}">
                        <i class="bx bx-registered" ></i>
                        <span class="nav-item">Register</span>
                    </a>
                    <span class="tooltip">Register</span>
                </li>
            </ul>
            {% endif %}
            <ul>
                <li>
                    <button id="theme" class="sidebar-button">
                        <i class="bx bxs-chess"></i>
                        <span class="nav-item">Toggle Dino/Classic Mode</span>
                    </button>
                </li>
            </ul>
        </div>
        <div id="main-content">
            {% block body %}
            {% endblock %}
        </div>
    </body>
    <script>
        let btn = document.querySelector('#btn');
        let sidebar = document.querySelector('#sidebar');

        function handleResize() {
            const viewportWidth = window.innerWidth;
    
            if (viewportWidth < 992) {
                sidebar.classList.remove('active')
            } else {
                sidebar.classList.add('active')
            }
        };

        window.addEventListener('load', handleResize);
        window.addEventListener('resize', handleResize);

        btn.onclick = function () {
            sidebar.classList.toggle('active');
        };

        const toggleButton = document.getElementById('theme');
        const rootElement = document.documentElement;

        const currentTheme = localStorage.getItem('theme');
        if (currentTheme) {
            rootElement.classList.add(currentTheme);
        }

        toggleButton.addEventListener('click', () => {
            rootElement.classList.toggle('classic-mode');
    
            if (rootElement.classList.contains('classic-mode')) {
                localStorage.setItem('theme', 'classic-mode');
            } else {
                localStorage.removeItem('theme');
            }
        });
    </script>
</html>