{% extends "menu/layout.html" %}
{% load static %}

{% block head %}
    <title>DinoChess - Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'menu/styles_login_register.css' %}">
{% endblock %}

{% block body %}
    <div id="login-container">
        <div id="logo_menu"></div>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div>
                <input autofocus class="login_form" type="text" name="username" placeholder="Username">
            </div>
            <div>
                <input class="login_form" type="password" name="password" placeholder="Password">
            </div>
            {% if message %}
                <div id="login_message">{{ message }}</div>
            {% endif %}
            <input id="login_button" class="default-button" type="submit" value="Login">
        </form>
        Don't have an account? <a href="{% url 'register' %}">Register here.</a>
    </div>

{% endblock %}