{% extends "menu/layout.html" %}
{% load static %}

{% block head %}
    <title>DinoChess - Register</title>
    <link rel="stylesheet" type="text/css" href="{% static 'menu/styles_login_register.css' %}">
{% endblock %}

{% block body %}
    <div id="register-container">
        <div id="logo_menu"></div>
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div>
                <input class="register_form" autofocus type="text" name="username" placeholder="Username">
            </div>
            <div>
                <input class="register_form" type="email" name="email" placeholder="Email Address">
            </div>
            <div>
                <input class="register_form" type="password" name="password" placeholder="Password">
            </div>
            <div>
                <input class="register_form" type="password" name="confirmation" placeholder="Confirm Password">
            </div>
            {% if message %}
                <div id="register_message">{{ message }}</div>
            {% endif %}
            <input id="register_button" type="submit" value="Register">
        </form>
        <div>Already have an account?</div>
        <a href="{% url 'login' %}">Log In here.</a>
        <div>*Email Address is not required</div>
    </div>

{% endblock %}