{% extends "menu/layout.html" %}
{% load static %}

{% block head %}
    <title>DinoChess - History</title>
    <link rel="stylesheet" type="text/css" href="{% static 'menu/styles_user.css' %}">
    <script src="{% static 'menu/user_interaction.js' %}"></script>
{% endblock %}

{% block body %}
<div id="user-container">
    <div id="grid">
        <div id="avatar" class="avatar-{{user.avatar}}"></div>
        <div id="nick">
            {{user.username}}
        </div>
        <div id="stats">
            <div>Created: {{user.date_joined|date:"m-d-Y"}}</div>
            <div>Last seen: Online</div>
        </div>
        <div id="avatar-select">
            {% csrf_token %}
            <div id="save-avatar-url" data-url="{% url 'saveavatar' %}"></div>
            <select>
                <option value="">Switch Avatar</option>
                <option value="pawn">Pawn</option>
                <option value="rook">Rook</option>
                <option value="knight">Knight</option>
                <option value="bishop">Bishop</option>
                <option value="queen">Queen</option>
                <option value="king">King</option>
            </select>
        </div>
        <a id="logout" class="default-button" href="{% url 'logout' %}">Log Out</a>
        <a id="change-pass" class="default-button" href="{% url 'changepassword' %}">Change password</a>
    </div>
</div>
<div id="history-container">
    <div id="previous-games">
        <div id="game-history-text">Game history:</div>
        <div id="table-url" data-url="{% url 'table' 0 %}"></div>
        <table id="historyTable"></table>
        <div id="load-more-url" data-url="{% url 'loadmore' %}"></div>
        <div id="load-more-button" class="default-button hidden">Load more</div>
    </div>
</div>
{% endblock %}