{% extends "menu/layout.html" %}
{% load static %}

{% block head %}
    <title>DinoChess - History</title>
    <link rel="stylesheet" type="text/css" href="{% static 'menu/styles_user.css' %}">
    <script src="{% static 'menu/user_interaction.js' %}"></script>
{% endblock %}

{% block body %}
<div id="user-container">
    <div id="grid">
        <div id="avatar" class="knight"></div>
        <div id="nick">
            {{user.username}}
        </div>
        <div id="stats">
            <div>Created: {{user.date_joined|date:"m-d-Y"}}</div>
            <div>Last seen: Online</div>
        </div>
        <div id="avatar-select">
            <select>
                <option value="">Switch Avatar</option>
                <option value="pawn">Pawn</option>
                <option value="rook">Rook</option>
                <option value="knight">Knight</option>
                <option value="bishop">Bishop</option>
                <option value="queen">Queen</option>
                <option value="king">King</option>
            </select>
        </div>
        <a id="logout" href="{% url 'logout' %}">Log Out</a>
        <a id="change-pass" href="{% url 'changepassword' %}">Change password</a>
    </div>
</div>
<div id="history-container">
    <div id="previous-games">
        <div id="game-history-text">Game history:</div>
        <table id="historyTable">
            {% for game in games %}
            <tr class=winner_{{game.winner}} onclick="window.location='{% url 'table' game.id %}'">
                <td>{{game.finished_at}}</td>
                <td>{{game.white}}</td>
                <td>{{game.black}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}